<launch>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>
  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> <!-- //uncomment if using rpi-cam -->
  <node pkg="aruco_pkg" type="arucoDet.py" name="aruco"></node>
  <node pkg="Line_Follower_pkg" type="LineFollowerNode.py" name="line_follower"></node>
</launch>
